from pytruenas import Namespace as _NS
from pytruenas.models import jsonschema as _jsonschema
import typing as _ty

{%- set typeddicts = {} -%}

{%- for qn in ns.namespaces() %}
from .{{ qn.pyname.relative_to(ns.pyname) }} import {{ qn.pyname.camelcase(-1) }}
{%- endfor %} 
class {{ ns.pyname.camelcase(-1) }}(_NS):
    {% for qn in ns.methods() %}
    def {{ qn.pyname.name }}(self,
        {%- for param in qn.parameters() %}
        {{param.argument_declaration(typeddicts)}}, 
        {%- endfor %}
    ) -> {{ qn.returns().type_def(typeddicts) }}:
        """{{ qn.doc }}"""
        ...
    {%- endfor %} 
    {%- for qn in ns.namespaces() %}
    {{ qn.pyname.name }}: {{ qn.pyname.camelcase(-1) }}
    {%- endfor %} 


{%- for name, properties in typeddicts.items() %}
{{ name }} = _ty.TypedDict('{{ name }}', {
{%- for prop, typedef in properties.items() %}
    '{{ prop }}': {{typedef}},
{%- endfor %} 
})
{%- endfor %}